@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap");

.top-wrapper {
  display: inline-block;
  height: 7em;
  padding-left: 5%;
  background-color: white;
}
.infoName {
  font-family: "EB Garamond";
  letter-spacing: 4px;
  font-size: 4em;
  color: #007bff;
}
