#pic {
  border: 5px solid rgb(41, 40, 38, 0.7);
  width: 50%;
  border-radius: 50%;
}
.profilePic {
  margin-top: 2em;
  text-align: center;
}

.img-wrapper {
  display: inline-block;
}
.info {
  text-align: center;
}
.info-wrapper {
  display: inline-block;
}

.link {
  margin-top: 2em;
  color: white;
}
